.dashboardContainer {
    display: flex;
  }
  
  .sidebarContainer {
    width: 100px; /* Adjust width as needed */
  }
  
  .mainContentContainer {
    flex: 1;
    display: flex;
    flex-direction: column; /* Stack items vertically */
  }
  
  .mainPart {
    width: 100%;
  }
  .mainContentContainer {
    max-width: 100%;
    margin: 1rem 10px 1rem 100px;
    padding: 1rem 0;
    display: grid;
    gap: 3rem;
    grid-template-columns: repeat(4, 22%);
    justify-content: center;
  }
  
  .mainContentContainer > div {
    width: fit-content;
  }
  
  .h6{
    margin-left: 100px;
  }